@model Data_Layer.CustomModels.ReviewAgreement;

<body style="height:100vh" class="d-flex align-items-center">
<div class="container">
    <p>To provide best medical service, we cannot determine the cost right away. If you agree to our service, so we will provide care and follow-up until all care is completed. So with this points, if you like us to provide care to you click on "Agree" and we'll get started immediately, if you do not agree simply click "Cancel".</p>
    <div class="d-flex justify-content-between mt-5" style="width:70%;margin:auto">
        <form method="post" asp-action="agree" asp-controller="Home">
            <input asp-for="Requestid" type="text" hidden/>
        <button type="submit" class="btn btn-success">I Agree</button>
            </form>
            <button data-bs-toggle="modal"
                    data-bs-target="#reviewAgreementModal" class="btn btn-danger">
                Cancel
            </button>
    </div>
</div>
</body>


<div class="modal fade  " id="reviewAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header " style="background-color:#0dcaf0">
                <h5 class="modal-title text-white" id="exampleModalLabel">Cancel Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" style="color:white"></button>
            </div>
            <form method="post" asp-action="cancelAgreement" asp-controller="Home">
                <input asp-for="Requestid" type="text" hidden />
                <div class="modal-body ">

                    <h4 class="mb-3">@Model.fullName</h4>

                    <div class="form-floating">
                        <textarea asp-for="Notes" class="form-control" placeholder="Leave a comment here" id="" style="height: 100px"></textarea>
                        <label for="floatingTextarea2" class="input">Please provide a breif explanation for your cancelation</label>
                    </div>
                   
                </div>
                <div class="modal-footer border-top-0">

                    <button class="btn btn-info text-white" type="submit">Confirm</button>
                    <button type="button" class="btn btn-outline-info"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>