
<div class="container">
    <h1 style="height: 100%; display: flex; justify-content: center; align-items: center; color: red; font-size: 50px;">
        You Have Already Submitted Your Answer
    </h1>
</div>

