@model Data_Layer.CustomModels.patientRecordscm;

<div class="container-fluid">
    <h4 class="mb-4 mt-3">Block History</h4>

    <div class="border rounded shadow mb-3 p-3">


        <form method="post" id="blockHistoryForm">
            <div class="row">
                <div class="mb-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 form-floating  ">
                    <input asp-for="Firstname"  type="text" class="form-control" id="floatingInputUsername" placeholder="First Name" aria-label="User Name">
                    <label class="ms-2 " for="floatingInputUsername">First Name</label>

                </div>
                <div class="mb-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 form-floating ">
                    <input asp-for="Createddate" type="date" class="form-control" id="floatingInputUsername" placeholder="Last Name" aria-label="User Name">
                    <label class="ms-2 " for="floatingInputUsername">Date</label>


                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 form-floating mb-3 ">

                    <input asp-for="Email" type="email" class="form-control" id="floatingInputUsername" placeholder="Email" aria-label="User Name">
                    <label class="ms-2 " for="floatingInputUsername">Email</label>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 form-floating mb-3 ">

                    <input asp-for="Phonenumber" type="text" class="form-control" id="floatingInputUsername" placeholder="Phone Number" aria-label="User Name">
                    <label class="ms-2 " for="floatingInputUsername">Phone Number</label>

                </div>
            </div>



            <div class="d-flex justify-content-end mb-2">
                <button type="button" onclick="location.href='@Url.Action("blockHistory","Admin")'" class="btn btn-outline-info">
                    Clear
                </button>
                <button id="search" type="button" onclick="sortBlockHistory()" class="btn btn-info text-white ms-2">
                    Search
                </button>
            </div>

        </form>


        <div id="blockHistoryContent">
            <partial name="blockHistoryShared" />
        </div>


    </div>
</div>


<script>
    function sortBlockHistory(){
        $.ajax({
            url: "/Admin/blockHistoryShared",
            type: "GET",
            data: $("#blockHistoryForm").serialize(),
            success: function (result) {
                $('#blockHistoryContent').html(result);
            },
            error: function () {
                alert('error loading partial view');
            }
        })
    }

    var dash = document.getElementById("home-tab");
    var providerLoc = document.getElementById("ProviderLocation-tab");
    var profile = document.getElementById("Myprofile-tab");
    var provider = document.getElementById("Providers-tab");
    var partner = document.getElementById("Partners-tab");
    var access = document.getElementById("Access-tab");
    var records = document.getElementById("Records-tab");

    dash.classList.remove("active");
    providerLoc.classList.remove("active");
    profile.classList.remove("active");
    provider.classList.remove("active");
    partner.classList.remove("active");
    access.classList.remove("active");
    records.classList.add("active");
</script>
