<div class="header">
    <img src="~/images/logo.png" alt="" class="img">
    <button class="btn1" id="dark">
        <i class="fas fa-light fa-moon" id="black" style="color: #43bcf9;"></i>
        <i class="fa-regular fa-sun inactive" id="bright" style="color: white"></i>
    </button>
    <div>
    </div>
</div>
